# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
sftp-config.json

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# CMS Integration
coddns_console/coddns/cms/*
coddns_console/coddns/include/config.php

# Packaged clients
coddns_console/coddns/downloads/*.zip
coddns_console/coddns/downloads/*.tar.gz

# Restricted content
coddns_core/core
coddns_core/core/*
