# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
sftp-config.json

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# CMS Integration
coddns_console/coddns/cms/*
coddns_console/coddns/include/config.php
coddns_core/opt/ddns/coddns_core
coddns_core/opt/ddns/coddns_core.conf
coddns_core/lib/*
coddns_core/lib
