@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
*{font-family: Source Sans Pro; font-size: 40px;}
html, body {
    margin:0; /* remove default margin */
    padding:0; /* remove default padding */
    width:100%; /* take full browser width */
    height:100%; /* take full browser height*/
    box-sizing: border-box;
}

h1{font-size: 2em;}
h2{font-size: 1.7em;}
h3{font-size: 1.4em;}

header{
    width: 100%;
    background: #ddd;
}
header div{
    padding: 20px;
}
header div.img{
    background: url('/rs/img/coddns.png') no-repeat center;
    width: 100%;
    padding-top: 20%;
}
header div.text{
    height: 80%;
    width: 100%;
}
section{
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}
section#signin{
}
section#login{
}
ul{
    list-style-type: none;
    width: 90%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
li {
    padding: 5px;
}
li label{
    display: inline-block;
}
li input{
    float: right;
    margin-right: 35%;
}
section#signin li input,
section#login li input{
    margin-right: 10%;
}
li input[type="email"],li input[type="text"], li input[type="password"]{
    width: 35%;
}
i.extension{
    postition: absolute;
    float: right;
    margin: -1.2em 0;
}
div.r{
    font-size: 0.9;
    position: absolute;
    margin-top: -3em;
    margin-left: 9em;
}
div.err{color: red;}
div.ok{color: green;}
div#myhosts {
    margin-top: 15px;
}

