*{font-family: Source Sans Pro; font-size: 40px;}
html, body {
    margin:0; /* remove default margin */
    padding:0; /* remove default padding */
    width:100%; /* take full browser width */
    height:100%; /* take full browser height*/
    box-sizing: border-box;
    color: #424242;
}
b{
    color: #222;
}
hr{
    height: 1px;
    background: #ccc;
    border: none;
}

h1{font-size: 2em;}
h2{font-size: 1.7em;}
h3{font-size: 1.4em;}

header{
    padding-top: 50px;
    width: 100%;
    box-shadow: 0px 10px 10px -5px #8C8C8C;
    background: #133445;
    color: #FFF;
}
header a{
    color: #F80;
    text-decoration: none;
    margin: auto 0.5em;
}
header a:hover{
    text-decoration: underline;
}
header div{
}
header div.img{
    background: url('/rs/img/coddns.png') no-repeat center;
    width: 100%;
    padding-top: 20%;
}
header div.text{
    height: 80%;
    width: 100%;
    text-align: center;
}
header div.lang{
    position: absolute;
    top: 0;
    left: 0;
}
header div.lang > a {
    margin: 0 5px;
    padding: 0;
}
header div.lang > a > img{
    width: 1em;
    height: 1em;
}

nav{
    height: 20%;
    width: 100%;
    padding-bottom: 1.5em;
    text-align: center;
}
section#main_section{
    padding-top: 1.8em;
    width: 100%;
}
section{
    width: 90%;
    margin: 0 auto;
}
section#signin{
}
section#login{
}
a#remember{
    font-size: 0.3em;
    color: #888;
    cursor: pointer;
    text-decoration: none;
}
a#remember:hover{
    color: #000;
}

section.uarea{
    margin: 10px auto 50px;
}
ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
li {
    width: 100%;
    padding: 5px 0;
}
li label{
    display: inline-block;
}
li input{
    float: right;
}
section#signin li input,
section#login li input{
}
li input[type="email"],li input[type="text"], li input[type="password"]{
    width: 55%;
}
li input[type="submit"]{
    margin-top: 10px;
    padding: 15px 20px 15px;
    border: 1px solid #ddd;
    background: #EC8606;
    color: #FFF;
    transition: border-radius 0.1s 0s, box-shadow 0.1s 0s;
    cursor: pointer;
}
li input[type="submit"]:hover{
    border-radius: 15px 0 15px 0px;
    box-shadow: 0 0 2px #ccc;
}
section.uarea input[type="text"]{
    float: none;
}
i.extension{
    margin-left: 1em;
}
div.r{
    font-size: 0.9;
    position: absolute;
    margin-top: -3em;
    margin-left: 9em;
}
div.err{color: red;}
div.ok{color: green;}
div#myhosts {
    width: 90%;
    margin: 40px auto;
    padding: 10px;
}
div#myhosts table{
    width: 100%;
    margin: 20px auto;
}

footer{
    margin: 15em auto 0;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 1px 0px #aaa;
    background: #133445;
}
footer a{
    font-size: 0.8em;
}
footer h3 {
    color: #FFF;
    font-weight: normal;
}
footer a{
    text-decoration: none;
    color: #EC8606;
}
footer a:hover{
    text-decoration: underline;
}
footer li{ padding: 15px 0; margin: 0;}
footer img{
    width: 2em;
    height: 2em;
    padding: 15px;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
}
footer img:hover{
    box-shadow: 0 0 1px 0px #888;
}

