pre {
	font-family: Courier;
    font-size: 0.7em;
    margin: 15px 0;
}

nav {
	height: 50px;
	width: 100%;
}

div.server{
	width: 500px;
	height: 100px;
}

div.server img{
	cursor: pointer;
	float: left;
	width: 50px;
	margin: 5px;
}
div.server div{
	float: left;
	max-width: 400px;
	margin: 15px 10px;
}