pre {
	font-family: Courier;
    font-size: 0.7em;
    margin: 15px 0;
}

nav {
	width: 90%;
    min-width: 450px;
    margin: 15px auto;
    font-size: 1em;
}

table {
	width: 100%;
    padding: 5px;
    margin: 0 auto;
    border-collapse: collapse;
}

table a:hover{
    border-bottom: 0px;
}

thead{
    text-align: center;
    background: #1F282B;
    color: white;
}

thead td {
    padding: 5px;
}

tbody *{
    padding: 5px;
}

td {
    border: 1px solid #ddd;
}

tbody tr:hover{
    background: #E8F1F9;
}

div.server{
	width: 500px;
	height: 100px;
	margin: 15px 0px;
	clear: both;
}

div.server img{
	cursor: pointer;
	float: left;
	width: 50px;
	margin: 5px;
}
div.server div{
	float: left;
	max-width: 400px;
	margin: 15px 10px;
}
div.menu_button{
    float: left;
    width: 120px;
    padding: 15px;
    text-align: center;
    margin: 15px;
}
div.menu_button:hover{
	box-shadow: 2px 2px 10px #ddd;
}
div.menu_button img{
	margin: 15px auto 30px;
	height: 60px;
}
img.add {
	float: left;
    margin: 3px 5px 0px;
}

#hidden_div1, #hidden_div2, #hidden_div3{
    display: none;
}

#hidden_rol1, #hidden_rol2, #hidden_rol3{
    display: none;
}

#adm_site_section{
    width: 100%;
    margin-top: 40px;
}
.button_return {
    width: 100px;
    right: 15px;
    position: fixed;
    bottom: 0;
    height: 15%;
}

nav ul {
    width: 100%;
    margin: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li a.selected > div {
    color: #fff;
    background-color: #1F282B; 
}

#form_create_users{
    padding-top: 50px; 
    position: fixed;
    width: 30%;
    border-radius: 5px;
    background-color: #ffffff;
}
.pop_up_headers{
    background-color: #1F282B;
    width: 100%;
    height: 40px;
    color: #ffffff;
}
.pop_up_headers h3{
    float:left;
    padding: 10px;
    padding-left: 20px;
    margin:0px;
}

.pop_up_headers_close{
    color: #ffffff;
    width: 20px;
    height: 20px;
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    float: right;
    font-size: 0.9em;
    text-decoration: none;
    background-color: #FA5858;
    cursor: all-scroll;
}

.pop_up_body{
    width: 100%;
}

.pop_up_footer{
    width: 100%;
    height: 40px;
    background-color: #1F282B;
}

.pop_up_footer > input {
    width: 70px;
    height: 30px;
    border: 1px solid#ffffff;
    border-radius: 3px;
    background-color: #EC8606;
    color: #ffffff;
    margin: 5px;
    float: right;
}

