nav {
    width: 85%;
    min-width: 450px;
    margin: 15px auto;
    font-size: 1em;
}
section a {
	padding: 5px;
	margin: 0 15px;
	cursor: pointer;
	text-decoration: none;
}
section a:hover{
	border-bottom: 2px solid #EC8606;
}