header{
	height: 100%;
	width: 200px;
	position: fixed;
	background: #1F282B;
	box-shadow: 0 0 1px #ccc;
	color: #ddd;
}

header div#launcher {
	margin: 5px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 20px;
  height: 0.15em;
  background: #fff;
  box-shadow: 
    0 0.25em 0 0 #fff,
    0 0.5em 0 0 #fff;
}

header div#menu{
	width: 200px;
	padding-left: 30px;
	margin-top: 50px;
}

header * ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

header a {
	padding: 3px;
	margin: 0 auto;
	color: #999EA2;
	text-decoration: none;
}

header a.pl:hover, header a.pl_select {
    color: #FFF;
    border-bottom: 2px solid #EC8606;
}

nav {
	width: 400px;
	min-width: 400px;
	margin: 50px 50px 0;
	font-size: 0.8em;
}

header div#contact{
    width: 200px;
    padding-left: 30px;
    position: absolute;
    bottom: 0;
    height: 170px;
}

header div#contact div.pic{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
header div#contact div.pic:hover{
	box-shadow: 0 0 2px #ddd;
}