header{
    height: 100%;
    min-height: 500px;
    width: 190px;
    position: fixed;
    background: #1F282B;
    color: #ddd;
    overflow: hidden;
/*    transition: width 0.2s 0s, height 0.4s 0.2s;*/
}

header.minimized {
    height: 25px;
    min-height: 25px;
    width: 30px;
}

header div#launcher {
    margin: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1000;
}

.box-shadow-menu {
  position: relative;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 20px;
  height: 0.15em;
  background: #fff;
  box-shadow:
    0 0.25em 0 0 #fff,
    0 0.5em 0 0 #fff;
}

header > a > img {
    width: 150px;
    margin: 0 auto;
    display: block;
    
}

header div#menu{
    width: 100%;
    z-index: 10;
    margin-top: 15px;
    background: #1F282B;
    position: absolute;
    text-align: right;
}

header * ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
header * ul li {
    padding: 0px;
}
header * ul li a{
    display: block;
    width: 100%;
    padding: 0.5em;
    padding-left: 30px;
    margin: 0 auto;
    color: #999EA2;
    text-decoration: none;
}
header a.pl:hover{
    background: #EC8606;
    color: #fff;
}
header a.pl_select {
    color: #444;
    background: #fff;
    border-left: 5px solid #EC8606;
}

nav {
    width: 400px;
    min-width: 400px;
    margin: 50px 50px 0;
    font-size: 0.8em;
}

header div#contact{
    width: 100%;
    z-index: 0;
    position: absolute;
    bottom: 0;
    text-align: right;
}

header div#contact div.pics{
    text-align: left;
    margin-top: 25px;
}

header div#contact div.pic{
    width: 45px;
    height: 45px;
    margin: 10px -20px 10px 30px;
    border-radius: 50%;
    text-align: center;
}
header div#contact div.pic:hover{
    box-shadow: 0 0 5px #ddd;
}
