*{
    margin: 0;
    padding: 0;
    font-family: Roboto,'Source Sans Pro';
    box-sizing: border-box;
}
html{
	width: 100%;
	background: #ddd;
}

div#main_wizard {
	width: 90%;
	height: 700px;
	background: #fff;
	margin: 0 auto;
	padding: 3em;
	box-shadow: 0 0 2px #444;
}