*{
    margin: 0;
    padding: 0;
    font-family: Roboto,'Source Sans Pro';
    box-sizing: border-box;
}
html{
	width: 100%;
    background: #fff;
}
body{
	width: 100%;
	padding-bottom: 150px;
}
b{
    color: #222;
}
hr{
    height: 1px;
    background: #ccc;
    border: none;
}
h1,h2,h3,h4,h5,h6,h7,h8,h9 {margin-left: 1em;}
h2{
    margin-bottom: 1em;
}

/*

header{
    text-align: center;
    height: 30px;
    width: 100%;
    min-width: 800px;
    margin-bottom: 3em;
    background: #424242;
    box-shadow: 0px 5px 8px 0px #ccc;
    color: #FFF;
}
header a{
    text-decoration: none;
}
img{
    border:none;
}
header a.pl{
    color: #424242;
    padding: 5px 10px;
    margin: auto 15px;
    transition: background 0.3s 0s;
}
header a.pl:hover, header a.pl_select{
    color: #FFF;
    background: #EC8606;
}
a img {
    margin-top: -2px;
}
header div.text{
    padding-top: 30px;
    width: 80%;
    position: absolute;
    left: 20%;
    top: 0;
    min-width: 550px;
}
header div.img{
    width: 20%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: transparent url("/rs/img/coddns_225.png") no-repeat scroll center center;
}
header div#navigation {
    width: 100%;
    height: 1.85em;
    background: #424242;
}
header div.relative {

    position: relative;
    top: -1.85em;
    border: none;
    margin-bottom: 1em;
}
header div.fixed {
    position: fixed;
    top: 0;
    left: 0;
    transition: content 0.5s 0s;
    font-weigth: bold;
    box-shadow: 0px 5px 8px 0px #ccc;

}
header div.fixed:before{
    content: "CODDNS";
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
}
header div nav{
    width: 80%;
    left: 20%;
    text-align: left;
    background: #FFF;
    padding: 5px;
    min-width: 610px;
    float:right;
    height: 100%;
}
header div.lang{
    float: right;
    position: relative;
}
header div.lang > a {
    margin: 0 5px;
    padding: 0;
}
*/
section#main_section{
    width: 100%;
	background: #fff;
	margin: 0px auto;
	padding-top: 50px;
	padding-bottom: 50px;

}
section{
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}
section#signin{
}
section#login{
}
a#remember{
    font-size: 0.7em;
    color: #888;
    cursor: pointer;
    text-decoration: none;
}
a#remember:hover{
    color: #000;
}

section.uarea{
    width: 60%;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    width: 350px;
    margin: 20px auto;
}
li {
    padding-bottom: 1em;
}
li label{
    display: inline-block;
}
li input{
    float: right;
}
li input[type="email"],li input[type="text"], li input[type="password"]{
    width: 150px;
    border: none;
    border-bottom: 1px solid #ccc;
    text-indent: 10px;
    height: 2em;
}
li input[type="submit"]{
    margin-top: 10px;
    padding: 5px 10px 5px;
    border: none;
    background: #EC8606;
    color: #FFF;
    transition: border-radius 0.1s 0s, box-shadow 0.1s 0s;
    cursor: pointer;
}
li input[type="submit"]:hover {
    border-radius: 15px 0 15px 0px;
    box-shadow: 0 0 2px #ccc;
}

section.uarea input[type="text"]{
    float: none;
}
i.extension{
    margin-left: 2px;
}
div.r{
    font-size: 0.9;
}
div.err{color: red;}
div.ok{color: green;}
div#myhosts {
    width: 90%;
    margin: 40px auto;
    padding: 10px;
}
div#myhosts table{
    width: 100%;
    margin: 20px auto;
}

footer{
    margin-top: 150px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 2em;
    font-size: 0.8em;
    background: #424242;
    text-align: left;
    color: #fff;
    overflow: hidden;
    transition: border-radius 0.2s 0s, height 0.2s 0s;
    border-radius: 0 35px 0 0;
}
footer h3{
    padding: 0;
    margin: 4px 5px 30px;
    font-weight: normal;
    transition: margin 0.3s 0s;
}
footer ul{
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 1em 0;
}
footer ul li{
    padding: 0;
    margin: 10px 0;
}
footer a{
    text-decoration: none;
    color: #EC8606;
}
footer img{
    cursor: pointer;
    padding: 2px;
	width: 35px;
	height: 35px;
}
footer img:hover{
    background-color: #AAA;
}
footer:hover {
    height: 15em;
    border-radius: 0 5px 0 0;
}
footer:hover h3{
    margin-left: 1em;
}
