@font-face {
    font-family: 'Roboto';
    src: url(../../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../fonts/SourceSansPro-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
html{
	width: 100%;
    background: #fff;

}
body{
	width: 100%;
}
h5#loading_charts_msg {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-bottom: -50px;
}
div#chart_selector{
    padding-top: 30px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s 0s;
}
select#chart_list{
    border: none;
    height: 250px;
    display: block;
}
div#main{
    margin-left: 200px;
	padding: 25px;
    padding-top: 50px;
    background: #fff;
}
b{
    color: #222;
}
hr{
    height: 1px;
    background: #ccc;
    border: none;
}
h1,h2,h4,h5,h6,h7,h8,h9 {margin-left: 1em;}
h2{
    margin-bottom: 1em;
}
h3 {
    font-size: 1em;
    margin: 15px 0;
}
section {
    min-width: 500px;
    margin: 0 auto; 
    overflow: hidden;
}

div#ajax_container{
    width: 100%;
    height: 100%;
    background: rgba(90, 90, 90, 0.5);
    position: fixed;
    top: 0;
    right: 0;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s 0s;
}
div#ajax_message_wrapper{
    width: 50%;
    max-height: 50%;

    min-width: 500px;
    min-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17%;
    margin-left: -25%;
    border: 1px solid #ddd;
    box-shadow: 0px 5px 20px -5px #343434;
    background: #fff;
    
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s 0s;
    overflow: auto;
}

div#ajax_message_wrapper a#ajax_message_close{
    color: #969696;
    padding: 2px 10px;
    float: right;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: normal !important;
    text-decoration: none;
    transition: background 0.3s 0s, color 0.3s 0s;
}
div#ajax_message_wrapper a#ajax_message_close:hover{
    background: #d43a3a;
    color: #fff !important;
}
div#ajax_message{
    padding: 40px;
}
a.ajax_button {
    margin-top: 10px;
    padding: 5px 10px 5px;
    border: none;
    background: #EC8606;
    color: #FFF;
    transition: border-radius 0.1s 0s, box-shadow 0.1s 0s;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    bottom: 15px;
    float: right;
    margin-right: -15px;
}
a.ajax_button:hover {
    border-radius: 15px 0 15px 0px;
    box-shadow: 0 0 2px #ccc;
}

section#signin{
}
section#login{
}
a#remember{
    font-size: 0.7em;
    color: #888;
    cursor: pointer;
    text-decoration: none;
}
a#remember:hover{
    color: #000;
}

section.uarea{
    width: 60%;
    max-width: 720px;
    min-width: 600px;
    margin: 0 auto;
}
ol {
    margin: 5px auto 20px;
    width: 100%;
    padding-left: 2em;
}
ul{
    list-style-type: none;
    width: 350px;
    margin: 20px auto;
}
ul > li {
    padding-bottom: 1.2em;
}
li label{
    display: inline-block;
}
li input{
    float: right;
}
select.input_select {
    float:right;
    width: 150px;
    border: none;
    border-bottom: 1px solid #ccc;
    text-indent: 10px;
    height: 2em;
}
input[type="email"],li input[type="text"], li input[type="password"], li input[type="number"] {
    width: 150px;
    border: none;
    border-bottom: 1px solid #ccc;
    text-indent: 10px;
    height: 2em;
}
input[type="submit"]{
    margin-top: 10px;
    padding: 5px 10px 5px;
    border: none;
    background: #EC8606;
    color: #FFF;
    transition: border-radius 0.1s 0s, box-shadow 0.1s 0s;
    cursor: pointer;
}
input[type="submit"]:hover {
    border-radius: 15px 0 15px 0px;
    box-shadow: 0 0 2px #ccc;
}

section.uarea input[type="text"]{
    float: none;
}
i.extension{
    margin-left: 2px;
}
div.r{
    font-size: 0.9;
}
div.err{color: red;}
div.ok{color: green;}

section a{
    color: #EC8606;
    text-decoration: none;
}
section a:hover{
    border-bottom: 1px solid #EC8606;
}

a.return {
    display: block;
    position: fixed;
    left: 230px;
    padding: 5px;
    bottom: 20px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 10px -5px #888;
    font-size: 0.9em;
    transition: padding 0.1s 0s, margin 0.1s 0s, font-size 0.1s 0s;
}

a.return:hover {
    font-size: 1em;
    padding: 10px;
    margin-bottom: -5px;
    margin-left: -5px;
    box-shadow: 1px 1px 5px #343434;
    border: 1px solid #ddd;
}

p.subtitle {
    margin: -20px 22px 0px;
    font-style: italic;
    font-size: 0.9em;
}

