*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    box-sizing: border-box;
}
html{
	width: 100%;
    background: #fff;

}
body{
	width: 100%;
	padding-bottom: 150px;
}
div#main{
    margin-left: 200px;
    padding-top: 50px;
    background: #fff;
}
b{
    color: #222;
}
hr{
    height: 1px;
    background: #ccc;
    border: none;
}
h1,h2,h4,h5,h6,h7,h8,h9 {margin-left: 1em;}
h2{
    margin-bottom: 1em;
}
h3 {
    font-size: 1em;
    margin: 15px 0;
}
section {
    width: 80%;
    min-width: 500px;
    margin: 0 auto; 
}

div#ajax_message_wrapper{
    width: 400px;
    height: 200px;
    max-height: 0px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -200px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 3px #ddd;
    background: #fff;
    transition: max-height 0.3s 0s;
}

div#ajax_message_wrapper a#ajax_message_close{
    color: #E25656;
    padding: 2px;
    float: right;
    font-size: 0.9em;
    text-decoration: none;
}
div#ajax_message_wrapper a#ajax_message_close:hover{
    font-weight: bold;
}
section{
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}
section#signin{
}
section#login{
}
a#remember{
    font-size: 0.7em;
    color: #888;
    cursor: pointer;
    text-decoration: none;
}
a#remember:hover{
    color: #000;
}

section.uarea{
    width: 60%;
    max-width: 720px;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    width: 350px;
    margin: 20px auto;
}
li {
    padding-bottom: 1em;
}
li label{
    display: inline-block;
}
li input{
    float: right;
}
li input[type="email"],li input[type="text"], li input[type="password"] {
    width: 150px;
    border: none;
    border-bottom: 1px solid #ccc;
    text-indent: 10px;
    height: 2em;
}
li input[type="submit"]{
    margin-top: 10px;
    padding: 5px 10px 5px;
    border: none;
    background: #EC8606;
    color: #FFF;
    transition: border-radius 0.1s 0s, box-shadow 0.1s 0s;
    cursor: pointer;
}
li input[type="submit"]:hover {
    border-radius: 15px 0 15px 0px;
    box-shadow: 0 0 2px #ccc;
}

section.uarea input[type="text"]{
    float: none;
}
i.extension{
    margin-left: 2px;
}
div.r{
    font-size: 0.9;
}
div.err{color: red;}
div.ok{color: green;}

section a{
    color: #EC8606;
    text-decoration: none;
}
section a:hover{
    border-bottom: 1px solid #EC8606;
}
