.pop_up_form{
    border-top: 10px solid #EC8606;  
    width: 30%;
    border-radius: 5px;
    background-color: #ffffff;
    position: fixed;
}
.pop_up_form form{
    height: 210px;
}
.pop_up_headers{
    background-color: #1F282B;
    width: 100%;
    height: 40px;
    color: #ffffff;
}
.pop_up_headers h3{
    float:left;
    padding: 10px;
    padding-left: 20px;
    margin:0px;
}

.pop_up_headers_close{
    color: #ffffff;
    width: 20px;
    height: 20px;
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    float: right;
    font-size: 0.9em;
    text-decoration: none;
    background-color: #FA5858;
    cursor: all-scroll;
}

.pop_up_body{
    width: 100%;
    height: 100%;
}

.pop_up_body ul li > input{
    width: 40%;
    float: right;
}


.pop_up_body ul li > select{
    width: 40%;
    float: right;
}

.pop_up_body ul li > select[multiple]{
    width: 40%;
    float: left;
}

.pop_up_body .multiselect_button{
    width: 20%;
    float: left;
}

.pop_up_body .multiselect_button > button{
    height: 30px;
    width: 30px;
    border: 1px solid#ffffff;
    border-radius: 3px;
    background-color: #EC8606;
    color: #ffffff; 
}

.pop_up_footer{
    width: 100%;
    height: 40px;
    background-color: #1F282B;
}

.pop_up_footer > input {
    width: 70px;
    height: 30px;
    border: 1px solid#ffffff;
    border-radius: 3px;
    background-color: #EC8606;
    color: #ffffff;
    margin: 5px;
    float: right;
    cursor: all-scroll;
}