div.server{
    width: 300px;
    margin: 15px 0px;
    clear: both;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 5px;
}
div.server:hover {
    box-shadow: 3px 3px 5px 0px #ddd;
}

div.server img{
    cursor: pointer;
    float: left;
    width: 50px;
    margin: 5px;
}
div.server div{
    float: left;
    max-width: 400px;
    margin: 15px 10px;
}
div.server a{
    padding: 0;
    margin: 0;
}
div.server a:hover{
    border:none;
}
div.server_summary {
    font-size: 0.8em;
    color: #222;
}
div#server_list a {
    text-decoration: none;
    color: #222;
    border: none;
}

div#server_list a:hover {
    text-decoration: none;
    border: none;
}
