pre{
	font-family: monospace;
	border-radius: 10px;
	width: 100%;
	background: #DBECEF;
	font-size: 0.9em;
	word-break: break-word;
	margin: 15px auto;
	padding: 15px;
	border: 2px dashed #365156;	
	white-space: pre-line;
}

p.action {
	cursor: pointer;
}

div.resultset {
	height: auto;
	max-height: 0px;
	margin: 5px 15px 5px;
	transition: max-height 0s 0.1s;
	font-size: 0.9em;
	overflow: hidden;
}

ul {
	width: 100%;
}

li {
	height: auto;
	width: auto;
}
